*.pyc
node_modules
*.zip
web_app/dist
__pycache__
old
.DS_Store
technical_docs
tmp
*.old
old_delme
.DS_Store
testing_openbabel
*.swp
TODO.md
rsync.sh
*.prj
_rst
tmp.md
_build
docs/docs
.ipynb_checkpoints
make.bat
